body {
  background-color: lavenderblush;
}

table, td, th {
  border: 1px solid teal;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 70px;
}

td, th {
  padding: 3px;
  color: steelblue;
}

tr:hover {
  background-color: paleturquoise;
}

span.Name{
  float:left;
}

span.RollNumber{
  float:right;
}

span.Name, span.RollNumber, caption, h1, h2 {
  color:mediumvioletred;
}

hr{
  width: 100%;
  height: 1px;
  background-color:gray;
}
